* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background: var(--bg-header);
	color: var(--color-icons);
}

img {
	width: 40px;
}

:root {
	--bg-header: #006241;
	--color-icons: #ffffff;
	--size-icons: 40px;
	--padding-block: 10px 15px;
}

.header {
	display: flex;
	justify-content: space-between;
	background: var(--bg-header);
	padding: 15px 20px;
	align-items: center;
	box-shadow: 1px 4px 42px 19px rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 50;
	width: 100%;
	top: 0;
	left: 0;
	padding: var(--padding-block);
}

.header__logo {
	width: 50px;
}

.header__icon {
	font-size: var(--size-icons);
	color: var(--color-icons);
}

.header__login {
	display: none;
}

.header__navLink {
	display: none;
}

.header__button {
	display: none;
}
.main {
	margin-top: 100px;
	padding: 5px 40px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main__title {
	font-size: 55px;
	line-height: 1.5;
}

.main__titleGreen {
	color: var(--bg-header);
}

.main__description {
	font-weight: bold;
	line-height: 1.7;
}

.main__logo {
	display: none;
}
.gallery {
	background-color: var(--bg-header);
	padding: 30px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery__img {
	width: 95%;
	padding: var(--padding-block);
	margin: 0px 10px 0px 10px;
}